version: '3.3'

services:
  frontend-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "45678:45678"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_API_BASE=http://127.0.0.1:8000
    networks:
      - budget-network

  frontend-prod:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "45679:45678"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_BASE=http://127.0.0.1:8000
    networks:
      - budget-network

networks:
  budget-network:
    driver: bridge