---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-data-pvc
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard